{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="card mt-3 border-0">
    <img src="{% get_media_prefix %}{{ post.image }}" class="card-img-top" alt="{{ post.title }}">
    <div class="card-body">
        {% if user.is_authenticated and post.author.id == request.user.id %}
            <a href="{% url 'post_remove' pk=post.pk %}" class="float-end btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
            <a href="{% url 'post_edit' pk=post.pk %}" class="float-end btn btn-sm btn-secondary me-2"><i class="bi bi-pencil"></i></a>
        {% endif %}

        <h2 class="card-title">{{ post.title|title }}</h2>
        <small>
            {{ post.author.username|title }} - {{ post.created_on|date:"M d, Y" }}
        </small>
        <p class="card-text">{{ post.content|safe|linebreaksbr }}</p>
    </div>
</div>

{% endblock %}
